*{
    margin: 0;
    padding: 0;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}

.site-header{
    background: radial-gradient(115.93% 71.58% at 73.5% 4.92%,#5b6378 0,#303642 39.67%,#111216 99.23%);
    height: 50px;
    padding: 10px 0;
}

.flex-box-1 {
    background: radial-gradient(115.93% 71.58% at 73.5% 4.92%,#5b6378 0,#303642 39.67%,#111216 99.23%);
    height: 30px;
    color: white;
    display: flex !important;
    justify-content: flex-end !important;

}

.img-box{
    margin-right: 20px;
   
}

.img-box img{
    /* float: right; */
    width: 31px;
}

.box-1{
    color: white;
    margin-right: 8px;
}

.box-1 h4{
    font-size: 20px;
    
}

.flex-box-2{
    display: flex;
    justify-content: flex-start;
    color: white;
}

.img-box-2{
    width: 42px;
    margin-left: 15px;
}

.img-box-2 img{
    width: 18px;
}

.box-2 h4{
    font-size: 20px;
}

.partition {
    height: 48px;
    color: yellowgreen;
    position: absolute;
    border-left: 4px solid #00ff00;
    left: 50%;
    top: 0;
}

.main-navigation{
    background: radial-gradient(115.93% 71.58% at 73.5% 4.92%,#5b6378 0,#303642 39.67%,#111216 99.23%);
}

.navbar{
    background: radial-gradient(115.93% 71.58% at 73.5% 4.92%,#5b6378 0,#303642 39.67%,#111216 99.23%);
}

.navbar-brand{
    margin-left: 130px;
}


.navbar-nav{
    margin-left: 100px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0.67;
    align-items: center;
    justify-content: space-evenly !important;
}

.nav-item a{
    color: white !important;
    font-weight: 600 ; 
    font-family: Gilroy,sans-serif ;  
    cursor: pointer;
    padding-left: 40px !important;
    padding-right: 40px !important;
   
}



.nav-link{
    border-bottom: 2px solid transparent;
    transition: 0.5s all ease-out;

}

.nav-link:hover{
    border-bottom: 2px solid #00ff00;
    transform: translateY(-0.15cm);

}


.nav-item a:hover{
    text-decoration:none;
    
}





.Extra-items {
    margin-left: 50px !important;
    display: flex;
    
}

.Extra-items .cart img{
   width: 30px;
   /* margin: 0 10px 0 0; */
   cursor: pointer;
    transition: 0.2s all ease-out;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.Extra-items .cart img:hover{
    transform: translateY(-0.15cm);
    border-bottom: 2px solid #00ff00;
}




.Extra-items .profile img{
    width: 20px;   
    cursor: pointer;
    transition: 0.2s all ease-out;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    margin-bottom: 2px;
}

.Extra-items .profile img:hover{ 
    transform: translateY(-0.15cm);
    border-bottom: 2px solid #00ff00;
}



.home-banner-image img{
    width: 100%;
    clip-path: polygon(50% 0,100% 0,100% 90%,50% 100%,0 90%,0 0);
}



.wireless{
    text-align: center;
    margin-bottom: 60px;
 }
 
 .wireless h1{
     font-weight: bold;
     font-size: -webkit-xxx-large;
     margin-top: 70px;
 }
 
 .carousel-indicators {
     position: absolute;
     right: 0;
     bottom: -79px !important; 
     left: 0;
     z-index: 2;
     display: flex;
     justify-content: center;
     padding: 0;
     margin-right: 15%;
     margin-bottom: 1rem;
     margin-left: 15%;
     list-style: none;
 }
 
 .carousel-indicators  button{
     box-sizing: content-box;
     flex: 0 1 auto;
     width: 30px;
     height: 3px;
     padding: 0;
     margin-right: 3px;
     margin-left: 3px;
     text-indent: -999px;
     cursor: pointer;
     background-color: #00ff00 !important;
     background-clip: padding-box;
     border: 0;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     opacity: .5;
     transition: opacity .6s ease;
 }
 
 .carousel-item {
     position: relative;
     display: none;
     float: left;
     width: 30% !important;
     margin-right: 0%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     transition: transform .6s ease-in-out;
     margin-left: 500px !important;
 }
 
 .carousel-control-next, .carousel-control-prev {
     position: absolute;
     top: 250px !important;
     bottom: 0;
     z-index: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 4% !important;
     padding: 0;
     color: #ffffff;
     text-align: center;
     background: 0 0;
     border: 0;
     opacity: .5;
     transition: opacity .15s ease;
     background: #00ff00 !important;
     height: 50px !important; 
     border-radius: 50% !important;
 }

 .flag{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    background: #dfdcdc;
    margin-left: 590px;
    margin-top: 120px;
}

.flag img{
    position: absolute;
    width: 80%;
    padding: 30px 10px;
}


.Made-in-India{
    text-align: center;
    margin-bottom: 60px;
}

.Made-in-India h1{
    font-weight: bold;
    font-size: -webkit-xxx-large;
    /* background:black; */

}

.Made-in-India .orange{
    color: orange;
    /* background:black ; */
    /* backface-visibility: visible 0.5; */
    background-blend-mode: color-dodge;
}

.Made-in-India .green{
    color: rgb(8 173 8);
}

.Made-in-India h4{
    text-align: center;
}

 .card{
    box-shadow: 0 50px 21px 22px rgb(0 0 0 / 15%) !important; 
    cursor: pointer;
    overflow: hidden;
}


.footer{
   
    background: radial-gradient(115.93% 71.58% at 73.5% 4.92%,#5b6378 0,#303642 39.67%,#111216 99.23%);
    margin-top: 100px;
}

.flex-box-footer{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 100px 0 50px 0;
    text-align: center;
}

.text-footer{
    color: white;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.text-footer:hover{
    color: #00ff00;
}

.flex-box-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
}

.fab{
    font-size:-webkit-xxx-large; 
    padding: 0 10px 0 10px;
    transition: 0.5s all ease-in-out;
   color: #212529;

}

.fab:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}

.SDST{
    font-size: larger;
    font-weight: 500;
}

#BTS{
    margin: 0 50px 0 50px;
}

#BTS a{
    color: white !important;
    text-decoration: none !important;
}

#BTS a:hover{
    color: lawngreen !important; 
}

.END{
    text-align: center;
    margin-top: 50px;
}




.sidess {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



#display{
      
    color: #00ff00;
   
    font-size: 17px;
    /* margin: 0px 14px 0 0; */
    font-weight: 700;
    /* text-decoration: underline; */
    position: absolute;
}

.modal-header{
    margin-left: 200px !important;
}

.SP{
    width: 46%;
}

.LG{
    width: 50%;
}

.cart-box{
    padding: 20px;    
}

.heading-modal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.order-box {
    padding: 20px;
    margin-top: 20px;
}

.order-box table{
    width: 100%;

}

.green{
    color: rgb(101, 187, 14);
}

.love{
    text-align: center;
}

.special{
    margin-bottom: 0;
    font-size: larger;
    margin-top: 10px;
    text-align: center;
}

.cart-box-1 p{
    font-size: larger;

}


.cart-box-2 p{
    font-size: larger;

}

.CR{
    width: 46%;
}

.PS{
    width: 50%;
}


@media screen and (max-width: 768px){

    .navbar-brand{
        margin-left: 0;
    }

    .navbar-nav{
        margin-left: 0;
    }

    .Extra-items {
        margin-left: 20px !important;
    }

    .navbar-toggler{
        background: white !important;
        border-color: white !important;
        
    }


    .carousel-item{
        width: 100% !important;
        margin-left: 80px !important;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 10% !important;
    }

    

    
    .card-1{
        width: 25rem !important;
    }

    .card{
        margin: 20px 0;
        /* width: 15rem !important; */
    }

    #BTS{
        margin: 15px 50px 0 50px;
    }

    .flag{
        margin-left: 190px;
    }

    .flex-box-footer{
        width: 50% !important;
    margin-left: 120px !important;
    }

   



}

    




@media screen and (min-width: 769px) and (max-width:1024px){

    .navbar-brand{
        margin-left: 0;
    }

    .navbar-nav{
        margin-left: 0;
    }

    .Extra-items {
        margin-left: 20px !important;
    }

    .navbar-toggler{
        background: white !important;
        border-color: white !important;
        
    }


    .carousel-item{
        width: 80% !important;
        margin-left: 200px !important;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 7% !important;
    }

    

    .flag{
        margin-left: 320px;
    }

    

    .card-1{
        width: 25rem !important;
    }

    .card{
        margin: 20px 0;
    }

    

    #BTS{
        margin: 15px 30px 0 30px;
        color: white;
    }

    .flex-box-footer{
        width: 100% !important;
    /* margin-left: 120px !important; */
    }

   

    
    

    
    
}







    

@media screen and (min-width: 1025px) and (max-width:1366px){

    .navbar-brand{
        margin-left: 50px;

    }

    .navbar-nav{
        margin-left: 0;
    }

    .Extra-items{
        margin-left: 0 !important;
    }

    .carousel-item{
        width: 70% !important;
        margin-left: 410px !important;
    }

    .flag{
        margin-left: 535px;
    }


    

    .navbar-toggler{
        background: white !important;
        border-color: white !important;
        
    }



    .carousel-control-next, .carousel-control-prev {
        width: 5% !important;
    }

    

    .card-1{
        width: 25rem !important;
    }

    .card{
        margin: 20px 0;
    }
 

    #BTS{
        margin: 20px ;
    }

   

    




}


@media screen and (min-width: 1367px) and (max-width:1920px){

    

}